<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group" style="padding-left:10px; padding-right:10px;">
  <label for="message_name" class="control-label">名前:</label>
  <div>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <label for="message_age" class="control-label">年齢:</label>
  <div>
    <%= f.number_field :age, :class => "form-control" %>
  </div>
  <label for="message_body" class="control-label">内容:</label>
  <div>
    <%= f.text_area :body %>
  </div>

  <div class="align-left">
  <%= f.submit class: "btn btn-sm btn-primary" %>
</div>

</div>

<% end %>
